html body{
  width: 99%;
  height: 99%;
}

#content {
  position:relative;
  margin: 0 auto;
  overflow: hidden;
  width:900px;
  max-width: 95%;
  height:630px; 
  text-align:center;
}
#slider{
  position:absolute;
  left:0;
  height:600px;  
  text-align:left;
}
#slider > div {
  position:relative;
  float:left;
  width:900px;
  height:600px;
}
#prev {
  position:relative;
  float: left;
  line-height: 600px;
  cursor:pointer;
  padding:5px;
}
#next {
  position:relative;
  float: right;
  line-height: 600px;
  cursor:pointer;
  padding:5px;
}

img {
  width: 100%;
  height: 100%;
}

#bullets {
  position: relative;
  top: 90%;
  text-align: center;
}

#bullets a{
  text-decoration: none;
  cursor: pointer;
  padding: 0 10px;
}